body
{
	text-decoration: none;
	background-image:url("bg5.jpg");
	background-repeat:no-repeat;
	background-size:100%,100%;
	text-align:center;
	color:white;
	
}
input
{
	background-color:rgba(0,0,0,0.2); 
	color:white;
}	

h1
{
	
	background-color: #5effcb,opacity:0.2;
	
}

a
{
	text-decoration:none;
	color:#72fafa;
}

a:hover
{
	font-size:27px;
	color:red;
	
}